<header class="notebook-header"
  data-toggle="collapse"
  data-target=".notebook-index">
  <span class="index-header">
    <span class="caret"></span>Notebooks
    <button class="btn btn-xxs btn-danger new-notebook">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </span>
</header>
<ul class="nav notebook-index collapse in">
  <li class="notebook" data-id="null">
    <div class="notebook-title item">
      <span class="glyphicon glyphicon-folder-open"></span>All Notes
      <span class="badge"><%= allNotes.length %></span>
    </div>
  </li>
  <% notebooks.each(function(notebook) { %>
    <li class="notebook" data-id="<%= notebook.id %>">
      <div class="notebook-title item">
        <div class="notebook-title-inner dropdown">
          <span class="glyphicon glyphicon-folder-open"></span>
          <%= notebook.escape("title") %>
          <span class="badge"><%= notebook.escape("notes_count") %></span>
          <span class="show-notebook-options dropdown-toggle" data-toggle="dropdown" id="dropdown<%= notebook.id %>">
            <button class="btn btn-xxs">
              <span class="caret"></span></span>
            </button>
          </span>
          <ul class="notebook-menu dropdown-menu" aria-labelledby="dropdown<%= notebook.id %>">
            <button class="btn edit-notebook">Edit</button>
            <button class="btn delete-notebook">Delete</button>
          </ul>
        </div>
      </div>
    </li>
  <% }) %>
  <li>
    <span class="glyphicon glyphicon-trash"></span>
  </li>
</ul>
<div class="edit-notebook-form"></div>
