<!DOCTYPE html>
<html>
<head>
  <title>WhateverNote</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
  <header class="page-header">
    <div class="page-header-inner">
      <% if logged_in? %>
        <span class="glyphicon glyphicon-user"></span>
        Logged in as <%= current_user.username %>
        <%= button_to "Sign Out", session_url, {
          method: :delete,
          class: "btn btn-signout"
        } %>
      <% else %>
        <a href="/">
          <img src="/images/WhateverNote-logo-30.png">
        </a>
        <div class="signed-out-buttons">
          <%= link_to "Sign Up", new_user_url, {
            class: "btn btn-success btn-xs"
          } %>
          <%= link_to "Sign In", new_session_url, {
            class: "btn btn-primary btn-xs"
          } %>
        </div>
      <% end %>
    </div>
  </header>
  <% if flash[:errors] %>
    <ul>
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

<%= yield %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= yield :javascript %>
</body>
</html>
